.produto-thumb {
    border: 1px solid #d2d2d2;
    text-align: center;
    margin: 0px 15px 20px;
    /* padding: 13px 8px; */
    border-radius: 8px;
    display: flex;
    width: 320px;
    max-width: 320px;
    box-shadow: 1px 5px 5px #e4e4e4;
  }
  
  .produto-img {
    width: 165px;
    /* border: 1px solid red; */
    border-radius: 10px;
  }
  
  .produto-title {
    color: #444;
    font-size: 14px;
    font-weight: 400;
  }
  
  .produto-comissao {
    color: #1bb0ce;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .produto-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    border-left: 1px solid #d2d2d2;
    padding-left: 10px;
  }
  